/* 
    Document   : cadastro
    Created on : 17/09/2011, 14:32:47
    Author     : leonardo
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

body{
    background-color: #FFFFFF;
    color: #FFFFFF;
    background-image: url(imagens/fundo2.png);
    background-repeat: repeat;
    font-family: Tahoma;
}

#tabelaprincipal{
    border-right: solid 5px #104154;
    border-bottom: solid 5px #104154;
    background-image: url(imagens/fundo.png);
    background-repeat: repeat-x;
    background-color: #3186A7;
    padding: 20px;
    
    }
    
    input[type="text"],input[type="password"],select,input[type="date"]{
        height:30px;
        border:2px solid #cccccc;
        font-size: 18px;
    }
    input [type="checkbox"]{
        background-color: #B0E0E6; 
font: 12px verdana, arial, helvetica, sans-serif;
color:#003399;
border:2px solid #000099;
    }
    
    textarea{
        
        border:2px solid #cccccc;
        font-size: 18px;
    }
    .dados{
        width:80%;
        min-height: 50px;
        color:#FFFFFF;
        background-color: #3186A7;
        margin-left: 10%;
        margin-right: 10%;
        
    }

    #tabelaprincipal a{
        color:#104154;
}

    #menuprincipal{
    
    padding: 10px;

}
#menuprincipal td{
    padding: 20px;
    text-align: center;
}

    #menuprincipal a{
    color: #FFD324;
    font-weight: bold;
    text-decoration: none;
}

    #menuprincipal a hover{
    color:#104154;
    font-weight: bold;
    text-decoration: none;
}

h3{
    text-align: center;
    
}

#cadastro td{
    font-size: medium;
    font-weight: bold;
    
}

#consulta td{
    border-right: solid 1px #999999;
    border-bottom: none;
    border-left: none;
    border-top: none;
    text-align: center;
    
}

#cabecalho{
    font-weight: bold;
    font-size: large;
    text-decoration: underline;
}

#consulta a{
    color: #FFD324;
    font-size: large;
}

#resultado h3{
    color:#FFD324;
    text-align: left;
    
}
#resultado p{
    background-color: #FFFFFF;
    color:#3186A7;
    font-weight: bold;
}
#acertos{
    background-color: yellowgreen;
    color:#FFFFFF;
    font-weight: bold;
    
}

#erros{
    background-color: #cc0033;
    color:#FFFFFF;
    font-weight: bold;
}

#titulo{
    background-color: #FFFFFF;
    width:950px;
    min-height: 25px;
    margin: auto;
    color: #3186A7;
}
#titulo h4{
    color: #FFFFFF;
}
#aula{
    background-color: #FFFFFF;
    width:950px;
    
    margin: auto;
    color: #3186A7;
}


#principal{
    
    background-image: url(imagens/fundo.png);
    background-repeat: repeat-x;
}

.barratopo{
    width:100%;
    background-color: #006699;
    color: white;
    height: 120px;
}
.barratopo a{
    color:#cccccc;
}
.barratopo img{
    margin-top:20px;
    margin-left:3%;
}
.barratitulo{
   color:#FFD324;
   text-align: center;
   width:100%;
   border-bottom: 2px solid #cccccc;
   
}
span{
    font-style: italic;
    font-size: 14px;
}
.voltar{
    text-align: center;
    font-size: 20px;
    margin-top: 3%;
}
.voltar a{
    color:#FFFFFF;
}
.voltar a:hover{
    color:#006699;
}
.lista{
    width:100%;
    font-size: 25px;
    color:#FFFFFF;
    background-color: #006699;
    border-radius: 10px;
    min-height: 50px;
    line-height: 50px;
    text-align: center;
}
.lista a{
    color:#FFD324;
    
}
.lista p{
    font-size: 18px;
}
.lista span{
    font-size: 14px;
    font-style: italic;
}
.lista h1{
    font-size: 20px;
    color:#FFD324;
}
.conteudo{
    background-color: #FFFFFF;
    color:black;
    width:80%;
    margin-left:10%;
    margin-right:10%;
    min-height: 400px;
}

.atividade{
    background-color: #cc0033;
    min-height: 40px;
    line-height: 20px;
    font-size: 20px;
}
.arquivo{
    width:20%;
    margin-right:5%;
    background-color: #FFFFFF;
    height:105px;
    float:left;
}
.turma{
    width:30%;
    background-color:#104154;
    color:#FFD324;
    height:30px;
    border-radius: 10px;
    
    font-weight: bold;
    font-size:20px;
}
.consulta{
    float:left;
    width:45%;
    
}
.aula{
    border:1px white solid;
    border-radius:10px;
    min-height: 100px;
    width:80%;
    margin-left:10%;
    margin-right:10%;
    margin-top:15px;
    padding:15px;
}
.aula span{
    color:#FFD324;
    font-weight: bold;
    font-style:normal;
    font-size: 20px;
}
.aula a{
    color:#FFD324;
    font-size: 20px;
}